body {
    width: 100%;
    max-width: 1010px;
    margin: 20px auto;
    background: #000 url(../images/bg.jpg) repeat-x;
    color: #666666;
    font-family: Century Gothic, Helvetica;
    font-size: 12px;
}

a > img {
    vertical-align: bottom;
}

.item > img {
    vertical-align: bottom;
}

h2 {
    font-family: Century Gothic;
    color: #666666;
}

.item {
    float: left;
    width: 245px;
    border: 1px solid #1a1a1a;
    margin: 2px;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.twocolumn {
    width: 496px;
}

#logo {
    height: 240px;
}

#skill {
    height: 188px;
    margin-top: 199px;
    background: #000 url(../images/skill.jpg) no-repeat 20px 20px;
}

#skill > a {
    width: 100%;
    height: 100%;
    display: block;
}

#about {
    width: 245px;
    height: 269px;
    background: url(../images/about.jpg) no-repeat 20px 20px;
}

#about_info {
    margin: 80px 23px 0 23px;
}

#about_info p {
    line-height: 1.4em;
    margin-bottom: 13px;
}

#resume {
    width: 245px;
    height: 167px;
    background: url(../images/resume.jpg) no-repeat;
}

#resume > a {
    width: 100%;
    height: 100%;
    display: block;
}

#contact {
    height: 144px;
    background: url(../images/contact.jpg) no-repeat 20px 20px;
    cursor: pointer;
}

#contact_info {
    display: none;
    margin: 76px 0 0 35px;
}

#contact_info a {
    color: #666666;
    text-decoration: none;
    font-family: Helvetica;
    font-size: 13px;
}

.port > a {
    display: block;
}

.port > .text {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.port > .tint {
    opacity: 0.8;
    float: left;
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
}

#port_ahr {
    margin-top: 78px;
}

#port_ahr > .text {
    background: url('../images/portfolio/ahr-text.jpg');
}

#port_newport {
    margin-top: 150px;
}


#port_newport > .text {
    background: url('../images/portfolio/newport-text.jpg');
}

#port_just > .text {
    background: url('../images/portfolio/just-text.jpg');
}

#port_rrr > .text {
    background: url('../images/portfolio/rrr-text.jpg');
}

#port_jobsjobsjobs > .text {
    background: url('../images/portfolio/jobsjobsjobs-text.jpg');
}

#port_austcorp > .text {
    background: url('../images/portfolio/austcorp-text.jpg');
}

#port_agenda > .text {
    background: url('../images/portfolio/agenda-text.jpg');
}

#port_rrr2 > .text {
    background: url('../images/portfolio/rrr2-text.jpg');
}

#port_senseit > .text {
    background: url('../images/portfolio/senseit-text.jpg');
}

#port_senseit2 > .text {
    background: url('../images/portfolio/senseit2-text.jpg');
}

#port_senseit3 > .text {
    background: url('../images/portfolio/senseit3-text.jpg');
}

#port_implicor {
    background: url('../images/portfolio/implicor-black.jpg') no-repeat;
}

#port_implicor.active {
    background: url('../images/portfolio/implicor.jpg') no-repeat;
}

#port_implicor > a {
    width: 245px;
    height: 237px;
}

#port_implicor > .text {
    background: url('../images/portfolio/implicor-text.jpg');
}

#highlight_outer {
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
}

#highlight {
    width: 80px;
    height: 80px;
    padding: 3px;
}

#copyright_year {
    color: #444444;
}
