<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eva Liu's Portfolio</title>
</head>
<body>
  <nav>
    <a href="#">Work</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
  </nav>

  <div id="main-container">
    <div id="hero">
      <h1>Eva portfolio</h1>
      <div class="content">
        <div class="left">
          <img src="<%= require('./eva.png') %>" class="eva">
          <p class="hi">Hi I'm eva.</p>
          <p>A product strategiest</p>
          <p>and experience crafter.</p>
        </div>
        <div>
          <div class="separator"></div>
        </div>
        <div class="right">
          An advocate for Human-Centred Design, I help organisations
          <ul>
            <li>Build outstanding products with reduced risk and waste</li>
            <li>Build and scale a design culture into the DNA of the company</li>
          </ul>

           <p>I help organisations navigate uncertainty and transform by adopting user-centric principles, embracing innovation and delivering outstanding products, services, and experiences.</p>

           <p>As an champion for Design Thinking and Lean, I bring a hands-on, experimental and evidence-based approach to organisational strategy, product strategy and product delivery.</p>

           <p>I love building and fostering a culture of trust and transparency, empowering cross-functional teams to collaborate, deliver value and thrive in safe and creative environments.</p>
        </div>
      </div>
    </div>
    <div id="work" class="two-col">
      <div class="left">

      </div>
      <div class="right">

      </div>
    </div>
    <div id="contact" class="two-col">
      <div class="left">

      </div>
      <div class="right">

      </div>
    </div>
  </div>
</body>
</html>
